@import "tailwindcss";

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@layer base {
  :root {
    --primary-button: rgba(255, 120, 152, 1);
    --secondary-button: #ffc0c9;
    --green-primary: rgba(85, 166, 48, 1);
    --green-secondary: rgba(170, 204, 0, 1);
    --blue-primary: rgba(69, 207, 251, 1);
    --blue-secondary: rgba(105, 237, 236, 1);
    --pink-primary: rgba(255, 120, 152, 1);
    --pink-secondary: rgba(255, 188, 200, 1);
    --pink-tertiary: rgba(255, 32, 84, 1);
  }

  .light {
    --primary-background: rgba(250, 243, 233, 1);
    --secondary-background: rgb(255, 242, 211);
    --primary-foreground: rgba(69, 207, 251, 1);
    --secondary-foreground: rgba(105, 237, 236, 1);
    --primary-font-color: rgb(28, 28, 28);
    --secondary-font-color: rgb(66, 66, 66);
  }

  .dark {
    --primary-background: rgba(29, 29, 29, 1);
    --secondary-background: rgba(71, 71, 71, 1);
    --primary-foreground: rgba(69, 207, 251, 1);
    --secondary-foreground: rgba(105, 237, 236, 1);
    --primary-font-color: rgb(255, 255, 255);
    --secondary-font-color: rgb(96, 96, 96);
  }
  @font-face {
    font-family: "ango-japanese";
    src: url("/fonts/nuku1.ttf") format("truetype");
  }

  @font-face {
    font-family: "japanese";
    src: url("/fonts/KiwiMaru-Regular.ttf") format("truetype");
  }
}

@theme inline {

  @keyframes pop{
    0% {
      transform: scale(0.90);
    }
    100% {
      transform: scale(1);
    }
  }

  --font-anglo-japanese: "ango-japanese";
  --font-bits: "bits";
  --font-japanese: "japanese";
  --color-primary-background: var(--primary-background);
  --color-secondary-background: var(--secondary-background);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-button: var(--primary-button);
  --color-secondary-button: var(--secondary-button);
  --color-primary-font-color: var(--primary-font-color);
  --color-secondary-font-color: var(--secondary-font-color);
  --color-green-primary: var(--green-primary);
  --color-green-secondary: var(--green-secondary);
  --color-blue-primary: var(--blue-primary);
  --color-blue-secondary: var(--blue-secondary);
  --color-pink-primary: var(--pink-primary);
  --color-pink-secondary: var(--pink-secondary);
  --color-pink-tertiary: var(--pink-tertiary);
}

.writing-mode-vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

